<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/foodEdit.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<meta charset="utf-8" />
<title>Élelmiszer módosítás</title>
</head>
<body>
	<div align="center">
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="logout"
				type="Submit">Kijelentkezés</button>
		</form>
		<br/>
		<h1>Élelmiszer módosítás</h1>
		<br />
		
		<form action="#" th:action="@{/allfoods/save}" th:object="${foods}"
			method="post">

			<table>
				<tr>
					<td>ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Név:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Tipus:</td>
					<td><input type="text" th:field="*{type}" /></td>
				</tr>
				<tr>
					<td>Ár:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>Mennyiség:</td>
					<td><input type="text" th:field="*{amount}" /></td>

				</tr>
				<tr>
					<td></td>
					<td><button class="btn  btn-success btn-block" name="save"
							type="Submit">Mentés</button></td>
				<tr>
			</table>
		</form>
	</div>
</body>
</html>