<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8" />
<style>
body {
	background: url(../images/hatter.png);
	background-size: 100%;
}

h1 {
	color: white;
}

td {
	color: white;
}

input {
	color: black;
}
</style>
<title>Új élelmiszer</title>
</head>
<body>
	<div align="center">
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="logout"
				type="Submit">Kijelentkezés</button>
		</form>
		<br />
		<h1>Új élelmiszer létrehozása</h1>
		<br />

		<form action="#" th:action="@{/allfoods/save}" th:object="${foods}"
			method="post">

			<table>
				<tr>
					<td>Név:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Tipus:</td>
					<td><input type="text" th:field="*{type}" /></td>
				</tr>
				<tr>
					<td>Ár:</td>
					<td><input type="number" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>Mennyiség:</td>
					<td><input type="number" th:field="*{amount}" /></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn btn-md btn-success btn-block"
							style="margin: 30px">Mentés</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>