<!DOCTYPE html>
<html>
<head>
<title>HTML5 Weblap</title>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}
body{
	background:url(../images/hatter.png);  
}
a {
  color: white;
}
p {
	color: white;
	font-size:40px;
}
p1 {
	color: white;
	font-size:25px;
}
h1 {
	color: white;
}
.copyright {
  position: fixed;
  bottom: -35px;
  
} 
</style>
</head>
<body>
<a href="kezdolap.html"><img src="..\images\iit.png" class="center"></a>
<table style="width:100%">
  <tr>
	<div class="center">
    <th><a href="adatbazis.html"><p>Adatbázisrendszerek</p></a></th>
    <th><a href="html5.html"><p>HTML 5 nyelv alapjai</p></a></th> 
    <th><a href="prezentacio.html"><p>Prezentáció készítése</p></a></th>
	</div> 
  </tr>
</table>
<h1>
Üdvözlöm a honlapomon!
</h1>
<p1>
Ezt a kis weblapot a Web technológiák kurzuson készítettem el.
</p1>
<p>&nbsp;</p>  
<h1>Forrás:</h1>
<p1>
Farkas Csaba - Fodor Gábor Antal: Windows 10 és Office 2016 középfokon. <br>
Budapest:Jedlik Oktatási Stúdió,2016.
</p1>
<div class="center">
<div class="copyright">
<p>&copy; Minden jog fenntartva</p>
</div></div>

</body>
</html>
